include ../layout/layout

-
  const globals = {
    _assets: {
      '/root/favicon.png': require('./favicon.png')
    },

    getAssetUrl(absolutePathUsingBlocksAsRoot) {
      return this._assets[absolutePathUsingBlocksAsRoot]
    },

    getClassList(entity = {}) {
      const { block, element, mods = {} } = entity;
      let prefix = block;

      if (element) {
        prefix += `__${element}`;
      }

      let classList = prefix;

      Object.keys(mods).forEach((modName) => {
        let modValue = mods[modName];

        classList += ` ${prefix}_${modName}`;
        if (modValue) {
          classList += `_${modValue}`;
        }
      })

      return classList;
    }
  }

doctype html
html(lang="")
  head
    meta(charset="utf-8")

    title #{title}

    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body
    +layout
